# ==============================================================================
# SIGANA - PERUMDA AIR MINUM TIRTA INTAN KABUPATEN GARUT
# Konfigurasi Environment Contoh (Pure Native PHP)
# ==============================================================================

APP_NAME="SIGANA - Perumda Tirta Intan Garut"
APP_ENV=local
APP_DEBUG=true

# Konfigurasi Koneksi Database MySQL / Laragon
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_sigana
DB_USERNAME=root
DB_PASSWORD=
